* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    height: 100vh;
    background: #333;
    display: flex;
    flex-direction: column;
}

.header-nav {
    padding: 15px;
    background: gray;
}

.header-nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__logo {
    font-size: 35px;
    font-weight: 600;
    color: white;
}

.header-nav__list {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.header-nav__link {
    font-size: 25px;
    color: white;
}